/* HOME - BASE */
body{
    background-color: #1e1e1e;
}
.espaco30{
    margin-top:30px
}
.titulo-azul{
    font-weight: bold;
    text-transform: uppercase;
    color: #00DBFF;
}
.titulo-azul2{
    font-weight: 900;
    color: #00DBFF;
}
.titulo-negrito{
    font-weight: bold;
}
/* HOME - BASE */

/* HOME - CAROUSEL */
.carousel-size {
    max-height: 900px;
}
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}
.bloco-carrossel{
    margin-top: 30px;
}
.blog .carousel-indicators li {
    background: #00dbff;
    border-radius: 50%;
    width: 25px;
    height: 1px;
}
.blog .carousel-indicators .active {
    background: #bbb;
}
.carousel-item img{
    border-radius: 10px;
}
/* HOME - CAROUSEL */

/* HOME - ESPECIALIDADES */
.bloco-nossa-especialidade{
    color: #fff;
    border-top: 10px solid #00DBFF;
    padding-top: 70px;
}
.bloco-contato-home-especialidade{
    text-transform: uppercase;
    font-size:40px;
    font-weight: 900;
    margin-top: -15px;
}
.bloco-home-especialidade-titulo{
    text-transform: uppercase;
    color: #00dbff;
    font-size: 40px;
    font-weight: 900;
}
.bloco-home-especialidade-texto{
    font-weight: 200;
    font-size: 19px;
    float: right;
}
.bloco-home-especialidades-itens{
    margin-top: 30px;
}
.item-especialidade{
    background: url("../img/item-especialidades.png");
    background-repeat: no-repeat;
    height: 270px;
}
.botao-ver-mais-especialidades{
margin-top:100px;
}
.botao-ver-mais-especialidades-item{
    background-color: #2D2D2D;
    width: 170px;
    color:#fff;
    font-size: 20px;
    height: 55px;
    border: 2px solid #00DBFF;
}
/* HOME - ESPECIALIDADES */

/* HOME - QUEM SOMOS */
.bloco-home-quem-somos{
    color: #fff;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 200;
    margin-left:120px
}
.quem-somos-imagem{
    background: url("../img/imagem-quem-somos.png");
    border-radius: 300px 0px 0px 300px;
    background-repeat: no-repeat;
    float: right;
}
.quem-somos-imagem-texto{
    font-weight: 800;
    width: 350px;
}
.quem-somos-imagem-texto p{
    font-size: 40px;
    line-height: 1.0;
    margin-top: 370px;
    width: 100%;
    margin-left: 160px;
}
.quem-somos-tomadinha{
    margin-left: -110px;
    margin-top: -30px;
}
/* HOME - QUEM SOMOS */

/* HOME - PORTFOLIO */
.bloco-portfolio{
    color: #fff;
    margin-top: 70px;
}

/* HOME - PORTFOLIO */

/* HOME - CLIENTES */
.clientes-item{
    float: right;
}
.clientes-item img{
    width: 100px;
}
.bloco-clientes-linha{
    margin-top: 80px;
    margin-left:100px
}
/* HOME - CLIENTES */

/* HOME - CAROUSEL - TESTEMUNHOS */
#MiCarousel{
    margin-top: 30px;
    margin-bottom: 30px;
}
.carousel-img{
    background-color: #000;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    float: right;
    z-index: 2;
    opacity: 0.8;
    margin-right:100px;
    border-radius:10px;
}
.div-r{
    padding: 40px;
    margin-left: -100px;
}
.testemunho-nomesobrenome{
    font-weight: bold;
    color: #00dbff;
}
.testemunho-cargo{
    margin-top: -15px;
    text-transform: uppercase;
}
/* HOME - CAROUSEL - TESTEMUNHOS */

/* HOME - BLOG */
.bloco-home-blog{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bloco-blog-home-informacoes-texto{
    font-weight: 500;
    float: right;
}
.bloco-blog-frase-topo{
    margin-top: 15px;
    float: right;
}

.botao-ver-todos-posts{
    background-color: #fff;
    border-color: #00dbff;
    color: #3f5fa8;
}
/* HOME - BLOG */

/* HOME - CONTATO */
.bloco-contato-home{
    border-top: 10px solid #00dbff;
    padding-top: 100px;
    color: #fff;
    border-bottom: 2px solid #333;
    padding-bottom: 50px;
}
.rodape-informacoes-botao-enviar{
    float: right;
}
.rodape-informacoes-enviar{
    background-color: #00dbff;;
    margin-top: 15px;
    width: 100px;
    color: #fff;
}
.bloco-contato-home-contato{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}
.bloco-contato-home-contato-ponto{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    color: #00dbff;
}
.bloco-contato-home-azul{
    color: #00dbff;
    text-transform: uppercase;
}
.bloco-contato-home-informacoes-texto{
    font-weight: 600;
}
.bloco-contato-home-informacoes-mensagem{
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 20px;
}
.bloco-home-testemunhos{
    padding-top:100px;
    color: #fff;
}
.fundo-escuro-textarea{
    background-color: #333;
    color: #fff;
    border:none;
}
.bloco-contato-home-input{
    background-color: #333;
    border:none;
}
.bloco-contato-home-label{
    font-weight: bold;
}
/* HOME - CONTATO */

/* HOME - RODAPE INFORMAÇÕES */
.rodape-informacoes{
    color: #fff;
    margin-top: 50px;
}
.rodape-informacoes-bloco-titulo{
    font-weight: bold;
}
.rodape-informacoes-bloco-texto{
    margin-top:-15px;
}
.rodape-informacoes-linha2{
    margin-top: 40px;
}
.rodape-informacoes-campo-email{
    background-color: #333;
    border: none;
    color: #fff;
}
.rodape-informacoes-botao{
    color: #fff;
    background-color: #00dbff;
    margin-left: 10px;
}
/* HOME - RODAPE INFORMAÇÕES */

/* HOME - RODAPE COPYRIGHT */
.rodape-copy{
    margin-top: 50px;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
}
.rodape-copy-plug{
    text-transform: uppercase;
    font-weight: bold;
}
.rodape-copy-your{
    color: #09a0b9;
}
/* HOME - RODAPE COPYRIGHT */





